.mdl-layout__drawer-button>.material-icons {
	margin: 12px;
}

.page-content>h3 {
	text-align: center;
}

.page-content #section-snap {
	position: relative;
}

.page-content #section-snap #snap-progress {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.page-content #section-snap #snap-title {
	width: 100%;
	padding-bottom: 2px;
}

.page-content #section-snap #snap-picture {
	position: relative;
	text-align: center;
}

.page-content #section-snap #snap-picture #stream-frame {
	position: relative;
	display: inline-block;
	border: 0px;
	box-shadow: 0 0 10px;
}

.page-content #section-snap #snap-picture img {
	width: 100%;
	height: auto;
}

.page-content #section-snap #snap-picture #snap-shader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	box-shadow: 0px 0px 100px inset;
    background-color: rgba(255,255,255,.5);

    opacity: 0;

    transition: opacity 1s;
}

.page-content #section-snap #snap-progress-2 {
	width: 100%;
}

.page-content #snap-controls {
	padding:10px 0;
	width: 100%;
	text-align: center;
	/*display: none;*/
}

.page-content #cam-controls {
	padding:10px 0;
	width: 100%;
}

.page-content #cam-controls #turn-cam-left {
	float: left;
	margin-left: 5px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.page-content #cam-controls #turn-cam-down {
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.page-content #cam-controls #turn-cam-right {
	float: right;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.page-content #cam-controls #turn-cam-up {
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.page-content #servo-controls {
	padding:10px 0;
	width: 100%;
	text-align: left;
	display: none;
}

.page-content .mdl-cell h5,
.page-content .mdl-cell p,
.page-content .mdl-cell form {
	width: 100%;
	padding: 5px 20px;
}

#section-snap,
#section-about,
#section-help,
#snap-progress {
	display: none;
}

#section-auth .form {
	margin-bottom: 15px;
	padding: 5px 20px;
}

#section-auth .form .mdl-textfield {
	margin-right: 10px;
	margin-bottom: 10px;
	width: 230px;
}
